* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: yellow;
  
}

header h1 {
    font-size: 4rem;
    
}

main {
    background: teal;
}
.grid-container {
    background: white;
    display: grid;
    margin: 0 auto;
    width: 680px;
    height: 680px;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 2px solid black;
}

.box {
    border: 1px solid black;
}

.color {
    background: black;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons-container .btn {
    padding: 10px 20px;
    margin: 2rem 2rem;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.buttons-container .btn:hover {
    background: greenyellow;
    
}

.buttons-colour {
    display: flex;
    justify-content: center;
}

.buttons-colour .btnClr {
    padding: 10px 20px;
    margin: 2rem 1rem;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.black:hover {
   background: black;
   color: white;
}

.red:hover {
    background: red;
}

.green:hover {
    background: green;
}


.blue:hover {
    background: blue;
}

.yellow:hover {
    background: yellow;
}


.red:hover {
    background: red;
}


